h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 12;
    font-weight: 20;
    
}

.marquee{
    font-family: 'Lucida Sans';
    font-weight: bold;
    font-size: 20;

}